frameworks/cocos2d-html5/lib
frameworks/cocos2d-html5/web.config
frameworks/cocos2d-html5/.idea
frameworks/cocos2d-html5/build
frameworks/cocos2d-html5/aspnet_client
frameworks/cocos2d-html5/node_modules
frameworks/cocos2d-html5/tools/jsdoc_toolkit-2.4.0
frameworks/cocos2d-html5/package
frameworks/cocos2d-html5/tools/jsdoc_toolkit/jsdoc_toolkit-2.4.0
frameworks/cocos2d-html5/.project

frameworks/runtime-src/proj.android-studio/.gradle
frameworks/runtime-src/proj.android-studio/local.properties
frameworks/runtime-src/proj.android-studio/.idea/workspace.xml
frameworks/runtime-src/proj.android-studio/.idea/libraries
frameworks/runtime-src/proj.android-studio/.DS_Store
frameworks/runtime-src/proj.android-studio/build
frameworks/runtime-src/proj.android-studio/captures
frameworks/runtime-src/proj.android-studio/.externalNativeBuild

frameworks/runtime-src/proj.android-studio/app/build
frameworks/runtime-src/proj.android-studio/app/.externalNativeBuild

frameworks/runtime-src/proj.ios_mac/build/
frameworks/runtime-src/proj.ios_mac/DerivedData/
frameworks/runtime-src/proj.ios_mac/*.pbxuser
frameworks/runtime-src/proj.ios_mac/!default.pbxuser
frameworks/runtime-src/proj.ios_mac/*.mode1v3
frameworks/runtime-src/proj.ios_mac/!default.mode1v3
frameworks/runtime-src/proj.ios_mac/*.mode2v3
frameworks/runtime-src/proj.ios_mac/!default.mode2v3
frameworks/runtime-src/proj.ios_mac/*.perspectivev3
frameworks/runtime-src/proj.ios_mac/!default.perspectivev3
frameworks/runtime-src/proj.ios_mac/xcuserdata/
frameworks/runtime-src/proj.ios_mac/*.moved-aside
frameworks/runtime-src/proj.ios_mac/*.xccheckout
frameworks/runtime-src/proj.ios_mac/*.xcscmblueprint
frameworks/runtime-src/proj.ios_mac/*.hmap
frameworks/runtime-src/proj.ios_mac/*.ipa
frameworks/runtime-src/proj.ios_mac/*.dSYM.zip
frameworks/runtime-src/proj.ios_mac/*.dSYM
frameworks/runtime-src/proj.ios_mac/Carthage/Build
frameworks/runtime-src/proj.ios_mac/fastlane/report.xml
frameworks/runtime-src/proj.ios_mac/fastlane/Preview.html
frameworks/runtime-src/proj.ios_mac/fastlane/screenshots
frameworks/runtime-src/proj.ios_mac/fastlane/test_output
frameworks/runtime-src/proj.ios_mac/iOSInjectionProject/

**/proj.android/**
**/proj.linux/**
**/proj.tizen/**
**/proj.win10/**
**/proj.win32/**

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
*Makefile
lib/
*.udf

bin/
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/
frameworks/cocos2d-x/cocos/platform/android/java/bin/
frameworks/cocos2d-x/cocos/platform/android/java/gen/
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
frameworks/cocos2d-x/cocos/platform/android/java/res/
.metadata/
.recommenders/

.idea/
*.iml
frameworks/runtime-src/proj.android-studio/app/assets/
frameworks/runtime-src/proj.android-studio/app/obj/
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/
frameworks/runtime-src/proj.android-studio/app/libs/armeabi-v7a/
frameworks/runtime-src/proj.android-studio/app/libs/x86/
frameworks/runtime-src/proj.android-studio/app/gradle.properties
frameworks/runtime-src/proj.android-studio/app/local.properties
frameworks/runtime-src/proj.android-studio/*/build/
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/
frameworks/cocos2d-x/cocos/platform/android/java/libs/gps/build/

frameworks/cocos2d-x/build/build/
frameworks/cocos2d-x/build/
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/
frameworks/runtime-src/proj.ios_mac/build/
frameworks/runtime-src/proj.ios_mac/*.xcodeproj/project.xcworkspace
frameworks/runtime-src/proj.ios_mac/*.xcodeproj/xcuserdata/
!*.pch
*.suo
.vs/
.vscode/
frameworks/cocos2d-x/cocos/2d/Debug.*/
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.*/
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.*/
frameworks/cocos2d-x/external/recast/proj.win32/Debug.*/
frameworks/cocos2d-x/cocos/2d/Release.*/
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Release.*/
frameworks/cocos2d-x/external/Box2D/proj.win32/Release.*/
frameworks/cocos2d-x/external/recast/proj.win32/Release.*/

simulator/**
runtime/**
publish/**

*.a
*.dll

**/prebuilt/**
